body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.login-container,
.register-container,
home-container,
polls-container,
profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.register-link,
.login-link {
    text-align: center;
    margin-top: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-icon {
    cursor: pointer;
    font-size: 24px;
    color: #333;

}
.user-profile {
    cursor: pointer;
    position: relative;
    font-size: 24px;
    color: #333;
}

.profile-options {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
}

.profile-options button {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #000000
}

.profile-options button:hover {
    background-color: #f4f4f4;
}
.main-content {
    text-align: center;
}

.example-polls {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.poll {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.poll button {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.poll button:hover {
    background-color: #45a049;
}